<%= include('includes/top.tmpl') %>

    <div class="main" data-node="europenetdif">
		<div class="map-container" id="map-container"></div>
		<div class="bar-chart-container" id="bar-chart-container">
			<%= include('includes/wdwtwa_europe.html') %>
		</div>
    </div>

<%= include('includes/bottom.tmpl') %>