<%= include('includes/top.tmpl') %>

    <div class="main country_detail">
        <h2 class="country_detail__head">Which country, other than Britain, has values closest to your own?</h2>
        <ul>
            <%= include('includes/wdwtwa_table.html') %>
        </ul>
        <p>Ipsos MORI</p>
    </div>

<%= include('includes/bottom.tmpl') %>