<%= include('includes/top.tmpl') %>

    <div class="main identity">
        <h2 class="identity__head">What is the most important to your identity?</h2>
        <ul>
            <%= include('includes/wdwtwa_identity.html') %>
        </ul>
        <p>Ipsos MORI</p>
    </div>

<%= include('includes/bottom.tmpl') %>