<%= include('includes/top.tmpl') %>

    <div class="main identity">
        <h2 class="identity__head">XX update title please</h2>
        <ul>
            <%= include('includes/wdwtwa_identity.html') %>
        </ul>
    </div>

<%= include('includes/bottom.tmpl') %>