<div id="key-container" class="key-container">
	<h3>Net connectedness</h3>
	<span class="less">Less</span>
	<span class="more">More</span>
	<div class="keys">
		<span class="c7"></span>
		<span class="c6"></span>
		<span class="c5"></span>
		<span class="c4"></span>
		<span class="c3"></span>
		<span class="c2"></span>
		<span class="c1"></span>
		<span class="c0"></span>
	</div>
</div>